.banner {
    position: relative;
    background-color: var(--lilas3);
    padding: 14rem;
}

.banner .right img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 75rem;
}

.banner .trend,
.banner p {
    display: block;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.banner h1 {
    font-size: 5.4rem;
    color: var(--black);
    margin-bottom: 1.5rem;
}

.banner .btn {
    display: inline-block;
    margin-top: 2rem;
}

@media (max-width: 1200px) {
    .banner {
        padding: 14rem 2rem;
    }

    .banner .right img {
        right: -6%;
        width: 70rem;
    }
}

@media (max-width: 996px) {
    .banner {
        padding: 8rem 2rem;
    }

    .banner .trend,
    .banner p {
        font-size: 1.5rem;
    }

    .banner h1 {
        font-size: 4rem;
    }

    .banner .right img{
        right: -6%;
        width: 50rem;
    }
}

@media (max-width: 768px) {
    .banner {
        display: grid;
        grid-template-columns: 1fr;
        height: 80vh;
    }

    .banner .left{
        width: 100%;
        margin-bottom: 3rem;
    }

    .banner .right{
        flex: 0 0 50%;
    }

    .banner .right img{
        right: 0;
        width: 50rem;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (max-width: 567px) {
    .banner {
        padding: 8rem 5rem;
    }

    .banner .trend,
    .banner p {
        font-size: 1.3rem;
        margin-bottom: 1rem;
    }

    .banner h1 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .banner .btn{
        font-size: 1.4rem;
        margin: 0;
    }

    .banner .right img{
        width: 45rem;
    }
}